<a href="https://colab.research.google.com/github/amruthamodem/Colour-Detection/blob/main/GAI_LAB_1_experiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math
n=int(input())
print(math.sqrt(n))

7
2.6457513110645907

In [ ]:
a=int(input())
b=int(input())
temp=a
a=b
b=temp
print("a =", a)
print("b =", b)

5
6
a = 6
b = 5

In [ ]:
n=int(input())
if n>0:
  print("positive")
if n<0:
  print("negative")
if n==0:
  print("zero")

6
positive

In [ ]:
n=int(input())
if n%2==0:
  print("even")
else:
  print("odd")

9
odd

In [ ]:
n=int(input())
f=1
for i in range(1,n+1):
  f=f*i
  print(f)

5
1
2
6
24
120

In [ ]:
import pandas as pd
data={'name': ['ashfak','akash','abhishek'],
      'age' : [20,23,22],
      'city': ['mangalore','bangalore','udupi']}
df=pd.DataFrame(data)
print(df)

       name  age       city
0    ashfak   20  mangalore
1     akash   23  bangalore
2  abhishek   22      udupi